.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;

}
img{
    width: 400px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    
}
.card{
    border: 1px solid #ffff;
    border-radius: 10px;
    
}
.card:hover{
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;
    transition:.3s ease all ;
}
#text{
    font-weight: bold;
    font-size: large;

}
#btn{
    margin: 15px;
    padding: 10px;
    width: 150px;
    color:rebeccapurple;
    text-align:center;
    cursor: pointer;
    font-size: 17px;

  






}
