.container{
  margin: 0 100px 0 100px;
}

.btns{
  display: flex;
  gap: 10px;
}
.list{
  display: flex;
  align-items: center;
  flex-direction: column;
}
#search{
  width: 400px;
  height: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
border: 1px solid rgb(26, 3, 68);
  
}
.cards{
 display: flex;
 flex-wrap: wrap;
 justify-content:space-between;
 gap: 30px;
 margin-top: 50px;
}
#nav-btn{
  width: 100px;
  height: 40px;
 margin-left: 10px;
  background-color: rgb(26, 3, 68);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
